.search-books-input-wrapper {
    flex: 1;
    position: relative;
}
.search-books-form {
    width: 100%;
}
.search-books-input-wrapper input {
    width: 100%;
    padding: 15px 10px;
    font-size: 12px;
    border: none;
    outline: none;
    background: transparent;
    line-height: 23px;
}
.clean-search {
    display: block;
    top: 19px;
    width: 30px;
    height: 17px;
    background: transparent;
    background-image: url('../../../../icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 0;
    position: absolute;
    right: 0;
}
