html, body, .root {
  height: 100%;
}
body {
  line-height: 1.5;
}
body, .app {
  background: #e8e8e8;
}
.no-books{
    text-align: center;
    color: #808080ed;
    padding: 60px 0px;
}
.sort-by {
    float: right;
    font-size: 12px;
    line-height: 25px;
    margin-right: 20px;
}

/* main page */

.list-books-title, .search-books-title {
    padding: 40px 0 100px;
    background: #6cbba8;
    text-align: center;
}
.search-books-title {
    padding: 60px 0;
}
.list-books-title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
}
.list-books-content, .search-books-content {
    flex: 1 1;
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
    top: -80px;
    background: white;
    padding: 5px 10px;
    box-shadow: 0 0 10px #474747;
    width: 90%;
}
.bookshelf {
  padding: 0 10px 20px;
}

span.filtered-books-length {
    float: right;
    font-size: 12px;
    color: gray;
    line-height: 25px;
}

.bookshelf-title {
    background: #e8e8e8;
    padding: 10px;
    font-size: 18px;
    color: #4f4f4f;
}
.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
}
.open-search a {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #a5494d;
  background-image: url('../../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

/* search page */
.search-books-form{
    width: 100%;
}

.search-books-bar {
  width: 100%;
  z-index: 5;
  display: flex;
  /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23); */
}
.search-books-input-wrapper {
  flex: 1;
  border-bottom: 1px solid #a5494d;
  margin-right: 50px;
  position: relative;
}
.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}
.search-books{
    min-height: 400px;
}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url('../../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}

.clean-search {
    display: block;
    top: 22px;
    width: 30px;
    height: 17px;
    background: white;
    background-image: url('../../icons/close.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 28px;
    font-size: 0;
    position: absolute;
    right: 0;
}

.search-books-results, .wait {
  padding: 80px 10px 20px;
}

/* books grid */

.books-grid {
  list-style-type: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.books-grid li {
  padding: 10px 15px;
  text-align: left;
}
