.book {
	width: 140px;
}
.book-cover {
	overflow: hidden;
	position: relative;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	background: #eee;
}
.book-cover-title {
	padding: 20px 10px 0;
	text-align: center;
	font-size: 0.8em;
}
.sort-by {
	float: right;
	font-size: 12px;
	line-height: 25px;
	margin-right: 20px;
}
.book-title {
	font-size: 11px;
	margin-top: 10px;
}
.book-authors {
	font-size: 11px;
}
.book-authors {
	color: #999;
}
.book-status {
	border-left: 6px solid red;
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	height: 20px;
	font-size: 9.5px;
	color: black;
	text-align: center;
	line-height: 20px;
	text-transform: uppercase;
	background: #e8e8e8;
	font-weight: bold;
	box-shadow: 0px 1px 5px black;
}
.book-status.read {
	border-left: 30px solid #912d4a;
}
.book-status.wantToRead {
	border-left: 30px solid #4a2d55;
}
.book-status.currentlyReading {
	border-left: 30px solid #155143;
}
.book-top {
	position: relative;
	height: 200px;
	display: flex;
	align-items: flex-end;
}
.bookshelf-title.read {
	border-left: 10px solid #912d4a;
}
.bookshelf-title.wantToRead {
	border-left: 10px solid #4a2d55;
}
.bookshelf-title.currentlyReading {
	border-left: 10px solid #155143;
}
.book-modal {
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0, 0, 0);
	background-color: rgba(0, 0, 0, 0.4);
}
/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}
.more-description {
	font-size: 10px;
	text-decoration: underline;
	color: #1a866c;
	cursor: pointer;
}
